 .newClass {
    color: blue;
}

.btn {
    color: blue;
    border: 1px black solid;
}

 input[type=text] {
     width: 20%;
     padding: 5px 10px;
     margin: 8px 0;
     border-radius: 3px;
     font-size: 1.2em;

 }

 .form {
     display: block;
     text-align: center;
 }


 .maintitle {
     text-align: center;
     color: dimgrey;
     font-size: 3em;
     text-shadow: 3px 2px #f0c442;
 }

 .about {
     background: url("https://images.unsplash.com/photo-1581985673473-0784a7a44e39?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjI1fHxhYnN0cmFjdCUyMGFydHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60") no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     /*width: 600px;*/
     width: 100vw;
     height: 100vh;

     line-height: 28px;
     /*margin: 40px auto 80px*/
 }

 .aboutContainer {
     max-width: 600px;
     margin: auto;
     padding: 2rem 0;
 }

 p {
     display: block;
     margin-block-start: 1em;
     margin-block-end: 1em;
 }
